h5 {
  padding-left: 1rem;
  font-size: 12px;
  font-weight: 300;
}

p {
  padding-left: 1rem;
  font-size: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  color: white;
}

.App-header > div {
  min-width: 400px;
}